# Fully Qualified Domain Name
{{ fqdn }}

# Web Servers
[% for ip in webservers %]
{{ ip }}
[% endfor %]

# Databases
[% for ip in databases %]
{{ ip }}
[% endfor %]

# Storage
[% for ip in storage %]
{{ ip }}
[% endfor %]
