[webservers]

web-1   ansible_host=51.250.65.95 fqdn = fhmlulblrgm588aep8i3.auto.internal

web-2   ansible_host=158.160.57.59 fqdn = fhmdue0621tmvculrvp4.auto.internal


[databases]

main   ansible_host=158.160.105.60 fqdn = fhmjj21n62emjoalrt40.auto.internal

replica   ansible_host=158.160.105.10 fqdn = fhmq8rab9dcbdpog58a5.auto.internal


[storage]

storage   ansible_host=158.160.97.49 fqdn = fhmfi3vmv8126seer6p2.auto.internal
